<form action="" [formGroup]="formGroup4">
  <div>
    <h1 class="text-3xl mb-5 font-bold">{{ t.title }}</h1>
    <p class="text-lg mb-5">
      {{ t.intro }}
    </p>
  </div>
  <!--Check box date-->
  <div class="mb-5">
    <ul class="grid w-full gap-2 md:grid-cols-3">
      <li>
        <input
          type="radio"
          [checked]="inputDateRadio === 'isDateNow' ? true : false"
          id="datenow"
          name="date"
          value="isDateNow"
          class="hidden peer"
          (change)="updateDateRadio($event)"
          required
        />
        <label
          for="datenow"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-check text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">{{ t.dateOptions.isDateNow }}</div>
          </div>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputDateRadio === 'isDateNext' ? true : false"
          id="datenext"
          name="date"
          value="isDateNext"
          class="hidden peer"
          (change)="updateDateRadio($event)"
        />
        <label
          for="datenext"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-plus text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">{{ t.dateOptions.isDateNext }}</div>
          </div>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputDateRadio === 'isNoDate' ? true : false"
          id="nodate"
          name="date"
          value="isNoDate"
          class="hidden peer"
          (change)="updateDateRadio($event)"
        />
        <label
          for="nodate"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-xmark text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">{{ t.dateOptions.isNoDate }}</div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <!--Checkbox date separator-->
  <div
    *ngIf="inputDateRadio === 'isDateNext'"
    class="inline-flex items-center justify-center w-full mb-5"
  >
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
    <div class="mx-8">
      <i class="fa-solid fa-circle-arrow-down text-2xl"></i>
    </div>
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
  </div>
  <!--Checkbox date manual or auto-->
  <div class="mb-5" *ngIf="inputDateRadio === 'isDateNext'">
    <div>
      <p class="text-lg mb-5">
        {{ t.manualDateText }}
      </p>
    </div>
    <ul class="grid w-full gap-2 md:grid-cols-2">
      <li>
        <input
          type="radio"
          [checked]="inputNextDate === 'manual' ? true : false"
          id="manualdate"
          name="nextDate"
          value="manual"
          class="hidden peer"
          (change)="updateNextDate($event)"
          required
        />
        <label
          for="manualdate"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-check text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">{{ t.nextDateOptions.manual }}</div>
          </div>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputNextDate === 'auto' ? true : false"
          id="autodate"
          name="nextDate"
          value="auto"
          class="hidden peer"
          (change)="updateNextDate($event)"
        />
        <label
          for="autodate"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-plus text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">
              {{ t.nextDateOptions.auto }}
            </div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <!--Checkbox date separator-->
  <div
    *ngIf="inputNextDate === 'auto'"
    class="inline-flex items-center justify-center w-full mb-5"
  >
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
    <div class="mx-8">
      <i class="fa-solid fa-circle-arrow-down text-2xl"></i>
    </div>
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
  </div>
  <!--Text inpput auto-->
  <div class="mb-5" *ngIf="inputNextDate === 'auto'">
    <label for="inputAutoDate" class="block mb-2 text-sm font-medium"
      >{{ t.monthsLabel }}</label
    >
    <input
      type="text"
      id="inputAutoDate"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
      formControlName="inputNbrMonths"
      [(ngModel)]="shared.inputNbrMonths"
      (input)="updateMonths()"
    />
  </div>
  <div class="mb-5">
    <p class="text-sm text-gray-200">{{ t.exampleNote }}</p>
  </div>
</form>
