<form action="" [formGroup]="formGroup4">
  <div>
    <h1 class="text-3xl mb-5 font-bold">Date</h1>
    <p class="text-xl mb-5">
      Voulez-vous inscrire DATE de L’ENTRETIEN ou PROCHAIN DATE ou PAS DE DATE.
    </p>
  </div>
  <!--Check box date-->
  <div class="mb-5">
    <ul class="grid w-full gap-2 md:grid-cols-3">
      <li>
        <input
          type="radio"
          [checked]="inputDateRadio === 'isDateNow' ? true : false"
          id="datenow"
          name="date"
          value="isDateNow"
          class="hidden peer"
          (change)="updateDateRadio($event)"
          required
        />
        <label
          for="datenow"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-check text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">DATE de L’ENTRETIEN</div>
          </div>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputDateRadio === 'isDateNext' ? true : false"
          id="datenext"
          name="date"
          value="isDateNext"
          class="hidden peer"
          (change)="updateDateRadio($event)"
        />
        <label
          for="datenext"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-plus text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">PROCHAINE DATE</div>
          </div>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputDateRadio === 'isNoDate' ? true : false"
          id="nodate"
          name="date"
          value="isNoDate"
          class="hidden peer"
          (change)="updateDateRadio($event)"
        />
        <label
          for="nodate"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-xmark text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">PAS DE DATE</div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <!--Checkbox date separator-->
  <div
    *ngIf="inputDateRadio === 'isDateNext'"
    class="inline-flex items-center justify-center w-full mb-5"
  >
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
    <div class="mx-8">
      <i class="fa-solid fa-circle-arrow-down text-2xl"></i>
    </div>
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
  </div>
  <!--Checkbox date manual or auto-->
  <div class="mb-5" *ngIf="inputDateRadio === 'isDateNext'">
    <div>
      <p class="text-xl mb-5">
        voulez-vous inscrire cette date manuellement? Ou bien, voulez vous que
        l’imprimante calcule automatiquement la date du jour + XX mois?
      </p>
    </div>
    <ul class="grid w-full gap-2 md:grid-cols-2">
      <li>
        <input
          type="radio"
          [checked]="inputNextDate === 'manual' ? true : false"
          id="manualdate"
          name="nextDate"
          value="manual"
          class="hidden peer"
          (change)="updateNextDate($event)"
          required
        />
        <label
          for="manualdate"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-check text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">Date manuelle</div>
          </div>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputNextDate === 'auto' ? true : false"
          id="autodate"
          name="nextDate"
          value="auto"
          class="hidden peer"
          (change)="updateNextDate($event)"
        />
        <label
          for="autodate"
          class="flex flex-col items-center w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <i class="fa-solid fa-calendar-plus text-xl m-2"></i>
          <div class="block">
            <div class="w-full text-lg font-semibold">
              Date du jour + XX mois
            </div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <!--Checkbox date separator-->
  <div
    *ngIf="inputNextDate === 'auto'"
    class="inline-flex items-center justify-center w-full mb-5"
  >
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
    <div class="mx-8">
      <i class="fa-solid fa-circle-arrow-down text-2xl"></i>
    </div>
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded" />
  </div>
  <!--Text inpput auto-->
  <div class="mb-5" *ngIf="inputNextDate === 'auto'">
    <label for="inputAutoDate" class="block mb-2 text-sm font-medium"
      >Veuillez inscrire le nombre de mois</label
    >
    <input
      type="text"
      id="inputAutoDate"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
      placeholder="6"
      formControlName="inputNbrMonths"
      (input)="updateMonths()"
    />
  </div>
  <div class="mb-5">
    <p class="text-sm text-gray-200">*Les textes générés sont des exemples</p>
  </div>

  <button
    data-modal-target="popup-modal"
    data-modal-toggle="popup-modal"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button"
    (click)="toggleModal()"
  >
    Toggle modal
  </button>

  <div
    id="popup-modal"
    tabindex="-1"
    class="hidden overflow-y-auto overflow-x-hidden fixed z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-black bg-opacity-50" 
  >
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button
          type="button"
          class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="popup-modal"
          (click)="toggleModal()"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
          <svg
            class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
            VOUS POUVEZ AVOIR PLUSIEURS FORMULAIRES DANS L’IMPRIMANTE ET PASSER D’UN A L’AUTRE RAPIDEMENT. VOULEZ VOUS AJOUTER UN AUTRE FORMULAIRE POUR UN FORMAT DE DATE DIFFERENT?
          </h3>
          <button
            data-modal-hide="popup-modal"
            type="button"
            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
          >
            Yes, I'm sure
          </button>
          <button
            data-modal-hide="popup-modal"
            type="button"
            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            No, cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
