<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="text-white">
    <div class="container mx-auto pb-10">
      <div class="w-full mx-auto mt-10">
        <!-- In your component.html -->
        <ol class="flex items-center w-full mb-10">
          <li
            *ngFor="let step of steps; let i = index"
            class="flex w-full items-center text-black after:content-[''] after:w-full after:h-1 after:border-b after:border-4 after:inline-block"
            [ngClass]="{
              'after:border-blue-900': currentStep > i + 1,
              'after:border-gray-200': currentStep <= i + 1,
              'after:content-[\'\'] after:w-full after:h-1 after:border-b after:border-4 after:inline-block':
                i !== steps.length - 1
            }"
          >
            <span
              *ngIf="currentStep === i + 1"
              class="text-white flex items-center justify-center w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-blue-900 shrink-0"
            >
              <!-- Current Step SVG -->
              <svg
                *ngIf="steps[i] == 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 0 1 1.5 10.875v-3.75Zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 0 1-1.875-1.875v-8.25ZM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 0 1 3 18.375v-2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                *ngIf="steps[i] == 2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z"
                  clip-rule="evenodd"
                />
                <path
                  d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z"
                />
              </svg>
              <i *ngIf="steps[i] == 3" class="fa-solid fa-oil-can text-xl"></i>
              <svg
                *ngIf="steps[i] == 4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                />
                <path
                  fill-rule="evenodd"
                  d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                  clip-rule="evenodd"
                />
              </svg>
              <i
                *ngIf="steps[i] == 5"
                class="fa-solid fa-gauge-high text-xl"
              ></i>
              <i
                *ngIf="steps[i] == 6"
                class="fa-solid fa-lightbulb text-xl"
              ></i>
              <i
                *ngIf="steps[i] == 7"
                class="fa-solid fa-truck-monster text-xl"
              ></i>
              <i
                *ngIf="steps[i] == 8"
                class="fa-solid fa-pen-to-square text=xl"
              ></i>
              <i *ngIf="steps[i] == 9" class="fa-solid fa-wrench text-xl"></i>
              <i
                *ngIf="steps[i] == steps.length"
                class="fa-solid fa-flag-checkered text-xl"
              ></i>
            </span>
            <span
              *ngIf="currentStep > i + 1"
              class="flex text-white items-center justify-center w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-blue-900 shrink-0"
            >
              <!-- Completed Step SVG -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            <span
              *ngIf="currentStep < i + 1"
              class="flex items-center justify-center w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-gray-200 shrink-0"
            >
              <!-- Future Step SVG (can be the same as Completed Step SVG or different) -->
              <svg
                *ngIf="steps[i] == 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 0 1 1.5 10.875v-3.75Zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 0 1-1.875-1.875v-8.25ZM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 0 1 3 18.375v-2.25Z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                *ngIf="steps[i] == 2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z"
                  clip-rule="evenodd"
                />
                <path
                  d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z"
                />
              </svg>
              <i *ngIf="steps[i] == 3" class="fa-solid fa-oil-can text-xl"></i>
              <svg
                *ngIf="steps[i] == 4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
                />
                <path
                  fill-rule="evenodd"
                  d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
                  clip-rule="evenodd"
                />
              </svg>
              <i
                *ngIf="steps[i] == 5"
                class="fa-solid fa-fill-drip text-xl"
              ></i>
              <i
                *ngIf="steps[i] == 6"
                class="fa-solid fa-lightbulb text-xl"
              ></i>
              <i
                *ngIf="steps[i] == 7"
                class="fa-solid fa-truck-monster text-xl"
              ></i>
              <i
                *ngIf="steps[i] == 8"
                class="fa-solid fa-pen-to-square text=xl"
              ></i>
              <i *ngIf="steps[i] == 9" class="fa-solid fa-wrench text-xl"></i>
              <i
                *ngIf="steps[i] == steps.length"
                class="fa-solid fa-flag-checkered text-xl"
              ></i>
            </span>
          </li>
        </ol>

        <div class="" *ngFor="let step of steps; let i = index">
          <div *ngIf="currentStep === i + 1">
            <h2 class="text-xl font-semibold mb-4 text-gray-300">
              Step {{ i + 1 }}
            </h2>
            <div class="grid grid-cols-2 gap-2">
              <!-- Forms -->
              <!-- Form 1 -->
              <div *ngIf="currentStep == 1">
                <app-step1></app-step1>
              </div>
              <!-- Form 2 -->
              <div *ngIf="currentStep == 2">
                <app-step2></app-step2>
              </div>
              <!-- Form 3 -->
              <div *ngIf="currentStep == 3">
                <app-step3></app-step3>
              </div>
              <!-- Form 4 -->
              <div *ngIf="currentStep == 4">
                <app-step4></app-step4>
              </div>
              <!-- Form 5 -->
              <div *ngIf="currentStep == 5">
                <app-step5></app-step5>
              </div>
              <!-- Form 6 -->
              <div *ngIf="currentStep == 6">
                <app-step6></app-step6>
              </div>
              <!-- Form 7 -->
              <div *ngIf="currentStep == 7">
                <app-step7></app-step7>
              </div>
              <!-- Form 8 -->
              <div *ngIf="currentStep == 8">
                <app-step8></app-step8>
              </div>
              <!-- Form 9 -->
              <div *ngIf="currentStep == 9">
                <app-step9></app-step9>
              </div>
              <!-- Form finale -->
              <div *ngIf="currentStep == steps.length">
                <app-stepFinale></app-stepFinale>
              </div>

              <!--Sticker visualizer-->
              <div *ngIf="currentStep !== steps.length" class="flex justify-end">
                <div class="relative">
                  <img
                    *ngIf="inputSelect"
                    class="h-96 rounded-[30px]"
                    src="/assets/images/{{ inputSelect }}.png"
                    alt="test"
                  />
                  <div
                    [ngClass]="{ 'top-[30px]': inputSelect === 'White' }"
                    class="font-bold absolute top-[100px] left-1/2 -translate-x-1/2 text-black text-center whitespace-nowrap"
                  >
                    <div class="max-w-56">
                      <img
                        [src]="selectedImageUrl"
                        *ngIf="selectedImageUrl && inputSelect"
                        class="max-w-56 max-h-10 mx-auto"
                      />
                      <p *ngIf="inputSelect" class="text-2xl">
                        {{ inputText }}
                      </p>
                      <p
                        *ngIf="inputSelect && nbrLines === 'lines-3'"
                        class="font-normal text-sm"
                      >
                        {{ addressText }}
                      </p>
                      <p *ngIf="inputSelect" class="font-bold text-xl">
                        {{ telText }}
                      </p>
                    </div>
                  </div>
                  <img
                    class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
                    *ngIf="isOil === 'true' && inputSelect"
                    src="/assets/images/GRADE_HUILE.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
                    *ngIf="inputDateRadio === 'isDateNow' && inputSelect"
                    src="/assets/images/DATE_DE_L'ENTRETIEN.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
                    *ngIf="inputNextDate === 'manual' && inputSelect"
                    src="/assets/images/PROCHAINE_DATE_MANUELLE.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
                    *ngIf="inputNextDate === 'auto' && inputSelect"
                    src="/assets/images/PROCHAINE_DATE_AUTO.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
                    *ngIf="inputDateRadio === 'isNoDate' && inputSelect"
                    src="/assets/images/JUSTE_PROCHAIN_KM.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="mx-auto absolute top-0 left-1/2 -translate-x-1/2"
                    *ngIf="inputSelect && currentStep === 5"
                    src="/assets/images/ANTIROUILLE.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="mx-auto h-80 absolute top-[74px] left-1/2 -translate-x-1/2"
                    *ngIf="inputSelect && currentStep === 6"
                    src="/assets/images/LUMIERE_ENTRETIEN.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="mx-auto h-80 absolute top-[74px] left-1/2 -translate-x-1/2"
                    *ngIf="inputSelect && currentStep === 7"
                    src="/assets/images/RETORQ.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="mx-auto h-80 absolute top-[61px] left-1/2 -translate-x-1/2"
                    *ngIf="inputSelect && currentStep === 8"
                    src="/assets/images/TEMPLATE_MESSAGE_CLIENT.png"
                    alt="nxtDateOil"
                  />
                  <img
                    class="mx-auto h-80 absolute top-[61px] left-1/2 -translate-x-1/2"
                    *ngIf="inputSelect && currentStep === 9"
                    src="/assets/images/TEMPLATE_ENTRETIEN_EFFECTUE.png"
                    alt="nxtDateOil"
                  />
                </div>
              </div>
            </div>

            <!-- Navigation Buttons -->
            <div class="flex justify-between mt-12">
              <div *ngIf="currentStep === 1"></div>
              <button
                *ngIf="currentStep > 1"
                class="px-4 py-2 text-black bg-gray-300 rounded"
                (click)="prevStep()"
              >
                Back
              </button>
              <button
                *ngIf="currentStep < steps.length"
                (click)="nextStep()"
                class="px-4 py-2 text-white bg-blue-900 rounded"
              >
                Next
              </button>
              <button
                *ngIf="currentStep === steps.length"
                class="px-4 py-2 text-white bg-green-900 rounded"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

      <h1 *ngIf="stickerArray.length > 0" class="text-3xl mb-5 mt-5 font-bold">
        Votre collection de formulaires:
      </h1>
      <!--Sticker array-->
      <div class="grid md:grid-cols-3 grid-cols-2 gap-4">
        <div *ngFor="let item of stickerArray; let i = index" class="relative">
          <img
            *ngIf="item.inputSelect"
            class="h-96 rounded-[30px] mx-auto"
            src="/assets/images/{{ item.inputSelect }}.png"
            alt="test"
          />
          <!-- X Button -->
          <button
            class="absolute top-0 right-9 text-white z-[900] bg-red-600 hover:bg-red-800 p-2 rounded-full"
            (click)="deleteItem(i)"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div
            [ngClass]="{ 'top-[30px]': item.inputSelect === 'White' }"
            class="font-bold absolute top-[100px] left-1/2 -translate-x-1/2 text-black text-center whitespace-nowrap"
          >
            <div class="max-w-56">
              <img
                [src]="item.selectedImageUrl"
                *ngIf="item.selectedImageUrl && item.inputSelect"
                class="max-w-56 max-h-10 mx-auto"
              />
              <p *ngIf="item.inputSelect" class="text-2xl">
                {{ item.inputText }}
              </p>
              <p
                *ngIf="item.inputSelect && item.nbrLines === 'lines-3'"
                class="font-normal text-sm"
              >
                {{ item.addressText }}
              </p>
              <p *ngIf="item.inputSelect" class="font-bold text-xl">
                {{ item.telText }}
              </p>
            </div>
          </div>
          <img
            class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
            *ngIf="item.isOil === 'true' && item.inputSelect"
            src="/assets/images/GRADE_HUILE.png"
            alt="nxtDateOil"
          />
          <img
            class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
            *ngIf="item.inputDateRadio === 'isDateNow' && item.inputSelect"
            src="/assets/images/DATE_DE_L'ENTRETIEN.png"
            alt="nxtDateOil"
          />
          <img
            class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
            *ngIf="item.inputNextDate === 'manual' && item.inputSelect"
            src="/assets/images/PROCHAINE_DATE_MANUELLE.png"
            alt="nxtDateOil"
          />
          <img
            class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
            *ngIf="item.inputNextDate === 'auto' && item.inputSelect"
            src="/assets/images/PROCHAINE_DATE_AUTO.png"
            alt="nxtDateOil"
          />
          <img
            class="max-w-52 mx-auto absolute top-[65px] left-[46%] -translate-x-1/2"
            *ngIf="item.inputDateRadio === 'isNoDate' && item.inputSelect"
            src="/assets/images/JUSTE_PROCHAIN_KM.png"
            alt="nxtDateOil"
          />
          <img
            class="h-96 mx-auto absolute top-0 left-1/2 -translate-x-1/2"
            *ngIf="item.inputAntiRouille === 'true' && item.inputSelect"
            src="/assets/images/ANTIROUILLE.png"
            alt="nxtDateOil"
          />
          <img
            class="h-80 mx-auto absolute top-[74px] left-1/2 -translate-x-1/2"
            *ngIf="item.inputLight === 'true' && item.inputSelect"
            src="/assets/images/LUMIERE_ENTRETIEN.png"
            alt="nxtDateOil"
          />
          <img
            class="h-80 mx-auto absolute top-[74px] left-1/2 -translate-x-1/2"
            *ngIf="item.inputRetorq === 'true' && item.inputSelect"
            src="/assets/images/RETORQ.png"
            alt="nxtDateOil"
          />
          <img
            class="h-80 mx-auto absolute top-[61px] left-1/2 -translate-x-1/2"
            *ngIf="item.inputCustom === 'true' && item.inputSelect"
            src="/assets/images/TEMPLATE_MESSAGE_CLIENT.png"
            alt="nxtDateOil"
          />
          <img
            class="h-80 mx-auto absolute top-[61px] left-1/2 -translate-x-1/2"
            *ngIf="item.inputEntretien === 'true' && item.inputSelect"
            src="/assets/images/TEMPLATE_ENTRETIEN_EFFECTUE.png"
            alt="nxtDateOil"
          />
          
        </div>
      </div>
    </div>
    <div
      id="popup-modal"
      tabindex="-1"
      class="hidden overflow-y-auto overflow-x-hidden fixed z-50 flex justify-center items-center w-full inset-0 h-[calc(100%-1rem)] max-h-full bg-black bg-opacity-50"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="popup-modal"
            (click)="toggleModal()"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
            <svg
              class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400 lowercase"
            >
              VOUS POUVEZ AVOIR PLUSIEURS FORMULAIRES DANS L’IMPRIMANTE ET
              PASSER D’UN A L’AUTRE RAPIDEMENT. VOULEZ VOUS Confrimer votre
              formulaire et AJOUTER UN AUTRE FORMULAIRE POUR UN FORMAT DE DATE
              DIFFERENT ou bien Confirmer et continuer?
            </h3>
            <button
              data-modal-hide="popup-modal"
              type="button"
              class="text-white bg-blue-900 hover:bg-blue-950 focus:ring-4 focus:outline-none focus:ring-blue-700 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
              (click)="stayOnStep()"
            >
              Confirmer et ajouter
            </button>
            <button
              data-modal-hide="popup-modal"
              type="button"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              (click)="proceedFromModal()"
            >
              Confirmer et continuer
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Toast -->
    <div
      id="toast-success"
      class="fixed hidden bottom-[20px] right-[20px] z-[1000]"
    >
      <div
        class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow"
        role="alert"
      >
        <div
          class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            />
          </svg>
          <span class="sr-only">Check icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">
          Formulaire ajouté avec succès.
        </div>
        <button
          type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          data-dismiss-target="#toast-success"
          aria-label="Close"
          (click)="toggleToast()"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
    </div>
    <div
      id="toast-warning"
      class="fixed hidden bottom-[20px] right-[20px] z-[1000]"
    >
      <div
        class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow"
        role="alert"
      >
        <div
          class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"
            />
          </svg>
          <span class="sr-only">Warning icon</span>
        </div>
        <div class="ms-3 text-sm font-normal">Ce formulaire fait deja parti de votre collection.</div>
        <button
          type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          data-dismiss-target="#toast-warning"
          aria-label="Close"
          (click)="toggleWarningToast()"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
    </div>
  </body>
</html>
