<form action="" [formGroup]="formGroup7">
  <div>
    <h1 class="text-3xl mb-5 font-bold">Formulaire de rappel de serrage des roues</h1>
  </div>
  <!--Check box date-->
  <div class="mb-5">
    <ul class="grid w-full gap-2 md:grid-cols-2">
      <li>
        <input
          type="radio"
          [checked]="inputRetorq === 'true' ? true : false"
          id="retorq"
          name="inputRetorq"
          value="true"
          class="hidden peer"
          (change)="updateRetorq($event)"
          required
        />
        <label
          for="retorq"
          class="inline-flex items-center justify-between w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <div class="block">
            <div class="w-full text-lg font-semibold">Oui</div>
            <div class="w-full">
              Je souhaite ajouter un formulaire de rappel de retorq.
            </div>
          </div>
          <i class="fa-solid fa-circle-check text-xl text-green-600 peer-checked:text-blue-600"></i>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputRetorq === 'false' ? true : false"
          id="noRetorq"
          name="inputRetorq"
          value="false"
          class="hidden peer"
          (change)="updateRetorq($event)"
        />
        <label
          for="noRetorq"
          class="inline-flex items-center justify-between w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-800 peer-checked:border-4 peer-checked:text-blue-800 hover:text-gray-600 hover:bg-gray-100"
        >
          <div class="block">
            <div class="w-full text-lg font-semibold">Non</div>
            <div class="w-full">
              Je ne souhaite pas ajouter un formulaire de rappel de retorq.
            </div>
          </div>
          <i class="fa-solid fa-ban text-red-600 text-xl peer-checked:text-blue-600"></i>
        </label>
      </li>
    </ul>
  </div>
</form>
