<form action="" [formGroup]="formGroupFinale">
  <div>
    <h1 class="text-3xl mb-5 font-bold">Comment vous rejoindre?</h1>
    <p class="text-xl mb-5">
      Si vous avez des besoins particuliers ou demandes spéciales, veuillez nous en
      faire part:
    </p>
  </div>
  <div class="mb-5">
    <textarea
      class="w-full p-5 text-black bg-white border border-gray-200 rounded-lg"
      formControlName="inputMessage"
      placeholder="Veuillez nous en faire part ici"
    ></textarea>
  </div>
  <div class="mb-5">
    <label for="inputEmailId" class="block mb-2 text-sm font-medium"
      >Courriel de l'atelier <span class="text-red-500">(Requis)</span></label
    >
    <input
      type="text"
      id="inputEmailId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
      formControlName="inputEmail"
      (input)="updateFinaleForm()"
      placeholder="exemple@gmail.com"
    />
  </div>
  <div class="mb-5">
    <label for="inputTelId" class="block mb-2 text-sm font-medium"
      >No de téléphone <span class="text-red-500">(Requis)</span></label
    >
    <input
      type="text"
      id="inputTelId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
      formControlName="inputTel"
      (input)="updateFinaleForm()"
    />
  </div>
  <div class="mb-5">
    <label for="inputFirstnameId" class="block mb-2 text-sm font-medium"
      >Nom de la personne à contacter <span class="text-red-500">(Requis)</span></label
    >
    <input
      type="text"
      id="inputFirstnameId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required
      formControlName="inputFirstname"
      (input)="updateFinaleForm()"
      placeholder="Prénom Nom"
    />
  </div>
  <div>
    <div>
      <p class="text-sm font-bold mb-2">Logo (optionnel)</p>
    </div>
    <div class="relative flex items-center justify-center w-full">
      <!--Remove image button-->
      <button
        *ngIf="selectedImageUrl"
        class="absolute top-0 right-2 p-1 m-2 bg-transparent rounded-full"
        (click)="removeImage()"
        (mouseenter)="showTooltip()"
        (mouseleave)="hideTooltip()"
      >
        <i class="fa-solid fa-xmark text-red-600 text-2xl"></i>
      </button>
      <div
        *ngIf="selectedImageUrl"
        id="tooltip-default"
        role="tooltip"
        class="absolute bottom-[95%] right-0 z-10 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm tooltip"
        [ngStyle]="{ opacity: showTooltipVisible ? '1' : '0' }"
      >
        Retirer le logo.
      </div>
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 hover:bg-gray-100"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            *ngIf="!selectedImageUrl"
            class="w-8 h-8 mb-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <i
            *ngIf="selectedImageUrl"
            class="mb-4 fa-solid fa-circle-check text-green-600 text-3xl"
          ></i>
          <p *ngIf="!selectedImageUrl" class="mb-2 text-sm text-gray-500">
            <span class="font-semibold">Cliquez pour soumettre votre logo</span>
            ou faites un glisser-déposer
          </p>
          <p
            *ngIf="selectedImageUrl"
            class="mb-2 text-sm text-gray-500 font-semibold"
          >
            Logo uploaded successfully
          </p>
          <p *ngIf="!selectedImageUrl" class="text-xs text-gray-500">
            SVG, PNG, JPG
          </p>
        </div>
        <input
          id="dropzone-file"
          type="file"
          class="hidden"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
      </label>
    </div>
  </div>
  <p class="mt-5">
    Avec les informations que vous nous avez transmises, nous allons créer les épreuves pour étiquettes demandées et vous retourner une photo pour approbation par courriel (enleve le par courriel). Un de nos représentants vous contactera dans 24 à 48 heures. Vérifier occasionnellement votre boîte courriel et aussi votre boîte pourriel.
  </p>
</form>
