<form action="" [formGroup]="formGroup8">
  <div>
    <h1 class="text-3xl mb-5 font-bold">Formulaire de message personnalisé</h1>
    <p class="text-xl mb-5">
      Voulez vous un formulaire qui permet de taper le message que vous voulez?
    </p>
  </div>
  <!--Check box date-->
  <div class="mb-5">
    <ul class="grid w-full gap-2 md:grid-cols-2">
      <li>
        <input
          type="radio"
          [checked]="inputCustom === 'true' ? true : false"
          id="custom"
          name="inputCustom"
          value="true"
          class="hidden peer"
          (change)="updateCustom($event)"
          required
        />
        <label
          for="custom"
          class="inline-flex items-center justify-between w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <div class="block">
            <div class="w-full text-lg font-semibold">Oui</div>
            <div class="w-full">
              Je souhaite ajouter un formulaire de message personnalisé.
            </div>
          </div>
          <i class="fa-solid fa-circle-check text-xl text-green-600 peer-checked:text-blue-600"></i>
        </label>
      </li>
      <li>
        <input
          type="radio"
          [checked]="inputCustom === 'false' ? true : false"
          id="noCustom"
          name="inputCustom"
          value="false"
          class="hidden peer"
          (change)="updateCustom($event)"
        />
        <label
          for="noCustom"
          class="inline-flex items-center justify-between w-full h-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
        >
          <div class="block">
            <div class="w-full text-lg font-semibold">Non</div>
            <div class="w-full">
              Je ne souhaite pas ajouter un formulaire de message personnalisé.
            </div>
          </div>
          <i class="fa-solid fa-ban text-red-600 text-xl peer-checked:text-blue-600"></i>
        </label>
      </li>
    </ul>
  </div>
</form>
