<form class="" [formGroup]="formGroup1">
  <div>
    <h1 class="text-3xl mb-5 font-bold">
      Choix du modèle d'étiquette
    </h1>
  </div>
  <div class="mb-5">
    <label for="countries" class="block mb-2 text-sm font-medium"
      >Select an option</label
    >
    <select
      id="countries"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      formControlName="inputSelect"
      (change)="updateSelectTemplate()"
    >
      <option disabled value="">Choose a sticker template</option>
      <option value="White">White</option>
      <option value="generique">Generic</option>
      <option value="april-324x324">April</option>
      <option value="castrol">Castrol</option>
    </select>
  </div>
  <div>
    <div>
      <p class="text-sm font-bold mb-2">Logo (optional)</p>
    </div>
    <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 hover:bg-gray-100"
      >
        <div
          class="flex flex-col items-center justify-center pt-5 pb-6"
        >
          <svg
            *ngIf="!selectedImageUrl"
            class="w-8 h-8 mb-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <i
            *ngIf="selectedImageUrl"
            class="mb-4 fa-solid fa-circle-check text-green-600 text-3xl"
          ></i>
          <p
            *ngIf="!selectedImageUrl"
            class="mb-2 text-sm text-gray-500"
          >
            <span class="font-semibold"
              >Click to upload your logo</span
            >
            or drag and drop
          </p>
          <p
            *ngIf="selectedImageUrl"
            class="mb-2 text-sm text-gray-500 font-semibold"
          >
            Logo uploaded successfully
          </p>
          <p
            *ngIf="!selectedImageUrl"
            class="text-xs text-gray-500"
          >
            SVG, PNG, JPG
          </p>
        </div>
        <input
          id="dropzone-file"
          type="file"
          class="hidden"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
      </label>
    </div>
  </div>
</form>
