<form class="" [formGroup]="formGroup1">
  <div class="mb-5">
    <h1 *ngIf="showSelect" class="text-3xl mb-5 font-bold">Choix du modèle d'étiquettes</h1>
    <h1 *ngIf="!showSelect" class="text-3xl mb-5 font-bold">Modèle d'étiquettes</h1>
    <p class="mb-2">
      Bienvenue dans notre générateur d’étiquettes pour le système Autonome de OCH Planner. Ces quelques questions vont nous permettre de créer les différents modèles d’étiquettes qui seront incluses dans l’imprimante. Il vous sera possible de passer d’un modèle à l’autre très facilement. Tout au long de ce formulaire, vous pourrez voir la liste des épreuves dans le bas de votre écran. Nous vous enverrons par courriel , avant l’expédition, une photo des épreuves incluses.
    </p>
    <p>
      Prenez le temps de visionner la courte vidéo suivante pour voir comment le système fonctionne.
    </p>
  </div>
  <div class="mb-5">
    <a href="https://youtu.be/FoA4hiwV5qc" target="_blank">
      <img src="/assets/images/Image1.png" alt="" />
    </a>
  </div>
  <div class="mb-5" *ngIf="showSelect">
    <label for="countries" class="block mb-2 text-sm font-medium"
      >Choisir une option</label
    >
    <select
      id="countries"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      formControlName="inputSelect"
      (change)="updateSelectTemplate()"
      required
    >
      <option disabled value="">Choisissez un modèle d'étiquettes</option>
      <option value="White">Blanc</option>
      <option value="generique">Generique</option>
      <option disabled>────────────────────</option>
      <option value="april-324x324">April</option>
      <option value="autocare">Autocare</option>
      <option value="auto_value">Auto value</option>
      <option value="autoplace">Autoplace</option>
      <option value="autopro">Autopro</option>
      <option value="B2B">Bumper to bumper</option>
      <option value="canadian_tire">Canadian tire</option>
      <option value="castrol-V2">Castrol</option>
      <option value="Ford">Ford</option>
      <option value="fountain_tire">Fountain tire</option>
      <option value="gulf">Gulf</option>
      <option value="gulf_lub_express">Gulf lub express</option>
      <option value="hyundai">Hyundai</option>
      <option value="Integra">Integra</option>
      <option value="kaltire">Kaltire</option>
      <option value="Liqui-Moly">Liqui-Moly</option>
      <option value="Master-Mechanic">Master-Mechanic</option>
      <option value="M360">Mecanique 360</option>
      <option value="Meineke">Meineke</option>
      <option value="midas">Midas</option>
      <option value="mobil">Mobil1</option>
      <option value="MOTUL">Motul</option>
      <option value="ok_pneus">Ok pneus</option>
      <option value="ok_tire">Ok tire</option>
      <option value="OTOBOX">OTOBOX</option>
      <option value="point_s">Point s</option>
      <option value="point_s_city">Point s city</option>
      <option value="subaru">Subaru</option>
      <option value="TEchnet_ENG">Technet english</option>
      <option value="TEchnet_FRENCH">Technet francais</option>
      <option value="Tirecraft">Tirecraft</option>
      <option value="total">TotalEnergies</option>
      <option value="unipro">Unipro</option>
      <option value="Valvoline">Valvoline</option>
      <option value="v1">V1</option>
      <option value="vip">V.I.P Stop</option>
      <option value="voie_rapide">Voie rapide</option>
    </select>
  </div>
</form>
